body{
    margin: 20%;
    margin-top: 20px;
}
#cabecera{
    text-align: center;
    
}
#cabecera2{
    float: left;
    position: relative;
    margin-left: 5px;
    left: 0px;
    height: 100px;
    width: 926px;
    background: linear-gradient(#3e9722 70%, #FFFFFF);
    background-color: #3e9722;
    border-radius: 15px;
    padding: 20px 20px 0px 20px;
}

#titulo{
    left: 0px;
    margin-bottom: 0px;
    width: 200px;
    float: left;
}
#botones{
    float: right;
    position: absolute;
    right: 0px;
    margin-right: 10px;
    bottom: -15px;
    margin-bottom: 0px;
}

#botones ul{
    margin-right: 0px;
    float:right;
    list-style: none;
    padding: 0px;
}

#botones  ul li{
    float: left;
    width: 100px;
    background: linear-gradient(left,#CAE646, #FFFFFF, #CAE646);
    background-color: #CAE646;
    opacity: 0.75;
    border-radius: 5px;
    margin-left: 2px;
}
#botones ul li a{
    display: block;
    color:black;
    text-decoration: none;
    padding: 10px;
}
#educacion{
    color: #333;
  left: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0px;
  text-align: left;
}
h1{
    
  left: 0px;
  bottom: 20px;
  margin-bottom: 0px;
  text-align: left;
}
#bordebody{
    width: 926px;
    position: absolute;
    border:3px solid rgb(152, 201, 53);
    border-bottom: none;
    border-radius: 5px;
    height: 100px;
    float: left;
    margin-top: -19px;
    left: 0px;
    padding: 20px 20px 0px 20px;
}
#area{
    width: 926px;
    float: left;
    position: relative;
    padding: 20px 20px 0px 20px;
    
}
#usuarios{
    
    float: left;
    position: relative;
}
h4{
    background-color: #3c74e6 ;
    color:white;
    text-align: center;
    padding: 10px;
    
}
#verde{
    color: #3e9722;
    text-decoration:none;
}
