
  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Sans+Pro:ital,wght@1,200&display=swap');

// Variables
$primary-color: #d40000;
$body-bg-color: #e3e3e3;
$font-size: 1.2rem;

// Mixins
@mixin text-center {
  text-align: center;
}

.left-image {
  float: left !important;
  margin-right: 1vw;
  width: 10em;
  height: 5em;
}

.logo {
  font-family: 'Press Start 2P', sans-serif !important;
  display: flex;
  font-size: 50px;
  color: #00bcd4;
  text-shadow: 2px 2px #e3e3e3;
  text-align: center;
}

body {
  
background: linear-gradient(270deg, rgba(0,172,255,0.37298669467787116) 0%, rgba(30,255,8,0.3617822128851541) 42%, rgba(245,226,0,0.3841911764705882) 71%, rgba(255,27,27,0.3785889355742297) 100%);

  h1 {
    @include text-center;
    font-size: $font-size;
    margin-top: 2rem;
  }
}

  .card {
    
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px #e3e3e3;

    &:hover {
      box-shadow: 2px 2px 4px $primary-color;
    }
    .btn-primary{
      font-family: 'Press Start 2P', sans-serif !important;
    font-size: 7px;
    }
  }

.d-flex{
  font-family: 'Press Start 2P', sans-serif !important;
}

video {
  border: 10px solid $primary-color;
  border-radius: 20px;
  margin-top: 2rem;
  
  height: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-left: 25%;
}

.nav-link {
  font-family: 'Press Start 2P', sans-serif !important;
  font-size: 15px !important;
  font-weight: bold;
  color: #00bcd4 !important;
  text-shadow: 2px 2px #e3e3e3;
  text-align: center;
}

.mask {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#buscar{
  font-family: 'Press Start 2P', sans-serif !important;
  font-size: 10px;
}
.form-control {
  border-color:#00bcd4 !important;
  }
.dropdown-menu{
  font-family: 'Press Start 2P', sans-serif !important;
}


// Media Queries
@media (max-width: 992px) {
  .logo {
  font-size: 36px;
  }
  
  .nav-link {
  font-size: 20px !important;
  }
  }
  
  @media (max-width: 768px) {
  .left-image {
  width: 7em;
  height: 3.5em;
  }
  
  .logo {
  font-size: 28px;
  }
  
  .card-deck {
  flex-direction: column;
  }
  
  .tarjeta {
  width: 30vw;
  margin: 1rem;
  }
  
  .nav-link {
  font-size: 18px !important;
  }
  }
  
  @media (max-width: 576px) {
  .left-image {
  width: 5em;
  height: 2.5em;
  }
  
  .video{
    margin-left: 10%;
  }
  .logo {
  font-size: 24px;
  }
  
  .nav-link {
  font-size: 16px !important;
  }
  }